<div class="js__box-link-footer">

    <div class="re__box-link-footer lazyloaded" data-script="https://staticfile.batdongsan.com.vn/js/layout/web/filestatic.ver69fcc55f.msvbds.FrontEnd.BoxLink.Footer.min.js" data-func="new FrontEnd.BoxLink.Footer.BoxLinkFooter()">
        <div class="content-box-introduction">
            <div class="intro-item">
                <div class="intro-img">
                    <a href="/nha-dat-ban" target="_blank" title="Bất động sản bán"><img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/ForSale.svg" alt="Bất động sản bán"></a>
                </div>
                <div class="intro-title">
                    Bất động sản bán
                </div>
                <div class="intro-desc">
                    Bạn có thể tìm thấy ngôi nhà mơ ước hoặc cơ hội đầu tư hấp dẫn thông qua lượng tin rao lớn, uy
                    tín về các loại hình
                    <a href="/nha-dat-ban" target="_blank" title="Bất động sản bán" class="re__link-pr">bất động sản
                        bán</a> tại Việt Nam, bao gồm bán nhà riêng,
                    <a href="/ban-nha-mat-pho" target="_blank" title="Bán nhà mặt tiền" class="re__link-pr">bán nhà
                        mặt tiền</a>, bán căn hộ chung cư, bán biệt thự, bán đất,
                    <a href="/ban-shophouse-nha-pho-thuong-mai" target="_blank" title="Bán shophouse" class="re__link-pr">bán shophouse</a> và các loại hình BĐS khác.
                </div>
            </div>
            <div class="intro-item">
                <div class="intro-img">
                    <a href="/nha-dat-cho-thue" target="_blank" title="Bất động sản cho thuê"><img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/ForRent.svg" alt="Bất động sản cho thuê"></a>
                </div>
                <div class="intro-title">
                    Bất động sản cho thuê
                </div>
                <div class="intro-desc">
                    Cập nhật thường xuyên và đầy đủ các loại hình
                    <a href="/nha-dat-cho-thue" target="_blank" title="Bất động sản cho thuê" class="re__link-pr">bất động sản cho thuê</a> như: thuê phòng trọ, nhà riêng,
                    <a href="/cho-thue-nha-biet-thu-lien-ke" target="_blank" title="Thuê biệt thự" class="re__link-pr">thuê biệt thự</a>, văn phòng, kho xưởng hay
                    <a href="/cho-thue-sang-nhuong-cua-hang-ki-ot" target="_blank" title="Thuê mặt bằng" class="re__link-pr">thuê mặt bằng</a> kinh doanh giúp bạn nhanh chóng tìm được bất động sản
                    ưng ý.
                </div>
            </div>
            <div class="intro-item">
                <div class="intro-img">
                    <a href="/phan-tich-danh-gia/video-danh-gia" target="_blank" title="Đánh giá dự án"><img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/Projects.svg" alt="Đánh giá dự án"></a>
                </div>
                <div class="intro-title">
                    Đánh giá dự án
                </div>
                <div class="intro-desc">
                    Các <a href="/phan-tich-danh-gia/video-danh-gia" target="_blank" title="Video đánh giá" class="re__link-pr">video đánh giá</a> tổng quan dự án cung cấp góc nhìn khách quan của các
                    chuyên gia về những dự án nổi bật tại Việt Nam, giúp bạn đưa ra quyết định đúng đắn cho nơi an
                    cư lý tưởng hoặc cơ hội đầu tư sinh lời.
                </div>
            </div>
            <div class="intro-item">
                <div class="intro-img">
                    <a href="/wiki" target="_blank" title="Wiki BĐS"><img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/Wiki.svg" alt="Wiki BĐS"></a>
                </div>
                <div class="intro-title">
                    Tin tức
                </div>
                <div class="intro-desc">
                    Ngoài cập nhật những biến động thị trường, chúng tôi còn cung cấp kiến
                    &ZeroWidthSpace;&ZeroWidthSpace;thức, kinh nghiệm về mua bán, cho thuê, đầu tư, vay mua nhà,
                    <a href="/wiki/phong-thuy" target="_blank" title="Phong thủy" class="re__link-pr">phong
                        thủy</a>, thiết kế nhà, mọi thông tin cần thiết để dẫn lối người tìm nhà tìm thấy căn nhà mơ
                    ước.
                </div>
            </div>
        </div>


    </div>
</div>