<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Người Dùng</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>

<body>
<h1>Danh sách Người Dùng</h1>


<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên Người Dùng</th>
        <th>Tên</th>
        <th>Địa Chỉ</th>
        <th>Email</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.email}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>
